<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >




<suite name="MyTestSuite">

<listeners>
    <listener class-name="com.extentreportlistenner.Extentreport"/>
</listeners>
    <test name="MyTestforInteractivebroker">
        <classes>
        	<class name="com.interactivebrokers.qa.testcases.LoginPageTest"/>
            <class name="com.interactivebrokers.qa.testcases.CitibanksearchonPortfolioPageTest"/>
            <class name="com.interactivebrokers.qa.testcases.AddaccountTest"/>
        </classes>
            
    </test>
    
</suite>
